{% extends "dashboard/authentication/base-authentication.html.twig" %}
{% block body %}
    <div class="form-container-background">
        <img src="{{ asset('assets/dashboard-ui/authentication/assets/images/chess-board.webp') }}"
             class="chess-board-img" alt="chessboard background image" width="150" height="150"/>
    </div>
    <div class="form-container form-login-container">
        <h3>{% trans %}dashboard.authentication.login.title{% endtrans %}</h3>

        {{ form_start(loginForm) }}
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"/>

            {% if form_errors(loginForm) %}
                <div class="alert-danger">{{ form_errors(loginForm) }}</div>
            {% endif %}
            {% if error %}
                <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {{ form_row(loginForm.email, {
                label: 'Email',
                name: 'email',
                value: last_username,
                id: 'email'
            }) }}

            {{ form_row(loginForm.password, {
                label: 'Password',
                name: 'password',
                id: 'password'
            }) }}
            <button class='button button-submit' type="submit">
                {% trans %}dashboard.authentication.login.submit{% endtrans %}
            </button>
        {{ form_end(loginForm) }}

        <div class="additional-links">
            <a href="{{ path('app_forgot_password') }}" class="forgot-password">
                {% trans %}dashboard.authentication.login.forgotPassword{% endtrans %}
            </a>
            <a href="{{ path('app_register') }}" class="button button-additional">
                {% trans %}dashboard.authentication.register.submit{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}
