{% extends "dashboard/authentication/base-authentication.html.twig" %}
{% block body %}
    <div class="form-container-background">
        <img src="{{ asset('assets/dashboard-ui/authentication/assets/images/chess-board.png') }}"
             class="chess-board-img" alt="chessboard background image"/>
        <img src="{{ asset('assets/dashboard-ui/authentication/assets/images/chess-board.png') }}"
             class="chess-board-img" alt="chessboard background image"/>
    </div>
    <div class="form-container form-register-container">
        <h3>{% trans %}dashboard.authentication.register.title{% endtrans %}</h3>
        {{ form_start(registrationForm) }}

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"/>

        {% if form_errors(registrationForm) %}
            <div class="alert-danger">{{ form_errors(registrationForm) }}</div>
        {% endif %}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button class='button button-login' type="submit">
            {% trans %}dashboard.authentication.register.submit{% endtrans %}
        </button>

        <div class="additional-links">
            <a href="{{ path('app_login') }}" class="button button-additional">
                {% trans %}dashboard.authentication.login.submit{% endtrans %}
            </a>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
