{% extends "dashboard/authentication/base-authentication.html.twig" %}
{% block body %}
    <div class="form-container-background">
        <img src="{{ asset('assets/dashboard-ui/authentication/assets/images/chess-board.png') }}"
             class="chess-board-img" alt="chessboard background image"/>
        <img src="{{ asset('assets/dashboard-ui/authentication/assets/images/chess-board.png') }}"
             class="chess-board-img" alt="chessboard background image"/>
    </div>
    <div class="form-container form-login-container">
        <h3>{% trans %}dashboard.authentication.resetPassword.title{% endtrans %}</h3>
        {{ form_start(resetPasswordForm) }}

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"/>

        {% if form_errors(resetPasswordForm) %}
            <div class="alert-danger">{{ form_errors(resetPasswordForm) }}</div>
        {% endif %}

        {{ form_row(resetPasswordForm.password.first) }}
        {{ form_row(resetPasswordForm.password.second) }}
        <button class='button button-login'
                type="submit">{% trans %}dashboard.authentication.resetPassword.title{% endtrans %}</button>

        <div class="additional-links">
            <a href="{{ path('app_login') }}"
               class="button button-additional">{% trans %}dashboard.authentication.login.submit{% endtrans %}</a>
        </div>
        {{ form_end(resetPasswordForm) }}
    </div>
{% endblock %}
