{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    <title>{% trans %}admin.dashboard{% endtrans %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('dashboard-main') }}
    {% endblock %}
{% endblock %}
{% block main %}
    <div class="dashboard-container">
        {% for data in dashboardData %}
            <div class="tile" onclick="window.location='{{ absolute_url(data.url) }}'">
                <img src='{{ asset(data.svg) }}' alt={{ data.translate|trans }}/>
                <div class="title-container">
                    <h4>{{ data.translate|trans }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}